@model Lexicon_LMS.Models.ActivityType

@{
    ViewBag.Title = "Ta bort";
}

<h2>Aktivitetstyp - <u>Ta bort</u></h2>

<h3>Är du säker på att du vill ta bort aktivitetstypen ?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Ta bort" class="btn btn-danger" /> |
            @Html.ActionLink("Tillbaka till översikten av aktivitetstyper", "Index", "ActivityTypes", routeValues: null, htmlAttributes: new { @class = "btn btn-default btn-sm my-btn" })
        </div>
    }
</div>
