@model Lexicon_LMS.Models.ActivityType

@{
    ViewBag.Title = "Detaljer";
}

<h2>Aktivitetstyp - <u>Detaljer</u></h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Ändra", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Tillbaka till översikten av aktivitetstyper", "Index")
</p>
